<%_ if(typeof active === "undefined") { _%>
  <%_ active = false; _%>
<%_ } _%>

<%_ if(typeof size === "undefined") { _%>
  <%_ size = 0; _%>
<%_ } %>

<%_ if(typeof placeLeft === "undefined") { _%>
  <%_ placeLeft = false; _%>
<%_ } _%>


<%_ let price = Menu[cat][item].Price[size]; _%>
<%_ let img = Menu[cat][item].Image; _%>
<%_ priceSplit = price.toFixed(2).split("."); _%>

      <div class="carousel-item item m-0 p-0  <% if (active===true) { %> active <% } %>">
        <div style="position: absolute; <% if (placeLeft === false) { %> text-align: right; <% } %>  align-self: center; line-height: 1; align-items:center; max-height: 250px; width: 100%; ">
            <span class="lead text-uppercase text-shadow"><%- item %> <% if(cat === "Pizzas") {%>PIZZA<% } %></span>
            <h1 class="text-shadow"><% if(cat !== "Sides") { %> One <% } %> <%- size !== 0 ? size : "" %> <%- item %></h1>

            <span class="display-1 carousel-price text-shadow">
                $<%- priceSplit[0] %>
                <span class="display-4" style="position: relative; bottom: 15px;">
                    .<%- priceSplit[1] %>
                </span>
            </span>
            <div>
                <%- include("OrderButton", {
                  cat,
                  item,
                  size
                }) _%>
            </div>
        </div>
        
        <img src="<%- img _%>" class="p-0" alt="Image">
      </div>
  