<%# [Pizza Modifier Page] _%>
<%# Cheese: Object _%>
<%# Sauce: Object _%>
<%# Crusts: Object _%>
<%# Toppings: Array _%>
<%# Item: Object _%>   

<%_ const toIdName = name => name.replace(/\s/g, "-").toLowerCase() _%>
    <div class="button-container">
        <a href="/order" class="btn btn-lg btn-primary">Back to Cart</a>
    </div>
    <h1><%- Item.name %></h1>
    <div data-id=" <%-Item.index %>style="display: flex; flex-direction:rows; justify-content: center;">
    <div class="col-sm">
<%- include("components/ModifierSelector", { 
      Options: Crusts, 
      toIdName, 
      modifier: "Crusts", 
      selected: Item.Options.Crust, 
      size: Item.size 
}) _%>

<%- include("components/ModifierSelector", { 
      Options: Sauce, 
      toIdName, 
      modifier: "Sauce", 
      selected: Item.Options.Sauce[0] 
}) _%>

    <table class="cheese-container">
      <tr>
        <td>
          <h3>Select Cheese</h3>
        </td>
        <td>
          <%- include("components/DropdownSelector", {
                classname: "Cheese",
                Options: Cheese.Mod,
                id: "cheeseDropdownMenuButton",
                selected: Item.Options.Cheese
          }) _%>
        </td>
      </tr>
    </table>
<%- include("components/ToppingSelector", { 
        Toppings, 
        toIdName, 
        selectedWhole: Item.Options.Toppings.Whole, 
        selectedRight: Item.Options.Toppings.Right, 
        selectedLeft: Item.Options.Toppings.Left
}) _%>
</div>
</div>
</div>

<script>
const selectMod = selectors => {
    fetch("edit", {
        headers: {
            "Content-Type": "application/json"
        },
        method: "POST",
        body: JSON.stringify({
            selectors,
            index:  <%- Item.index %>
        })
    }).then(response => {
        if (response.ok) {
            return response;
        }
        throw new Error("Request failed.");
    }).then(response => {
        window.location.reload();
    }).catch(error => {
        console.log(error);
    });
}
</script>