<!-- <div class="px-1"> -->
<div id="myCarousel" class="carousel" data-ride="carousel">
    <div class="row">
        <div class="carousel-inner carousel-height m-0 p-0">
         <ol class="carousel-indicators " style="top:1vh; right:30%;">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>
            <div class="col-sm-8 p-0">
              
               <%- include("components/CarouselSlide", { 
                  active: true,
                  cat: "Pizzas",
                  item: "Margherita",
                  size: "16in"
                }) _%>
                <%- include("components/CarouselSlide", { 
                  cat: "Sides", 
                  item: "Chicken Wings",
                  size: "1lb"
                }) _%>
                <%- include("components/CarouselSlide", { 
                  cat: "Pizzas",
                  item: "Deluxe",
                  size: "16in",
                  placeLeft: true
                }) _%>
                <%- include("components/CarouselSlide", { 
                  cat: "Salads",
                  item: "Garden Salad",
                  placeLeft: true
                }) _%>
           </div>
            
                <div  class="col-sm-4 m-0 p-0 d-flex flex-column justify-content-center" style="height: 65%;">
                    <div class="p-2" style="background-color: white; ">
                        <div class="d-flex flex-column text-center carousel-sidebar justify-content-center">
                            <h3>Order Now!</h3>
                            <button class="rounded-pill btn btn-primary pt-2 p-0">
                                <h4><i class="fa fa-phone fa-sm"></i>&nbsp;123-1234&nbsp;</h4>
                            </button>
                            <div class="">
                            <ul class="m-0 p-0">
                                <li><i class="fa fa-envelope fa-sm p-0 m-0"></i>&nbsp;email@email.com</li>
                                <li><i class="fas fa-map-marker-alt fa-sm"></i>&nbsp;123 Address St.</li>
                            </ul>
                            </div>
                            
                         
                        </div>
                   
                    
                    <!-- <div class="d-flex flex-column"> -->
                      <!-- <div> -->
                        <!-- <h6><i class="far fa-clock fa-lg"></i></h1> -->
                        <!-- <h6>Hours of Service</h3> -->
                      <!-- </div> -->
                    </div>
                    <div class="h-50 m-0 p-0">
                        <div class="maprouter" style="position:absolute; top: 75%; width: 100%;">
                            <div class="gmap_canvas">
                                <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" class="carousel-sidebar" style="height: 35vh;" ></iframe>
                                <a href="https://putlocker-is.org"></a>
                                <br><style>.mapouter{position:relative; text-align:left;}</style><style>.gmap_canvas {overflow:hidden;background:none!important;}</style>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- </div> -->
        
        </div>
    </div>
</div>

<!-- <div> -->
    <!-- <div class="row m-0 p-0"> -->
        <!-- <div class="col m-0 p-0"> -->
            <!-- Weekly Special -->
            <!-- <p><img src="/images/pizzas/pepperoni.jpg" class="img-responsive" style="width:100%" alt="Image"></p> -->
            <!-- <br /> -->
        <!-- </div> -->
     
        <!-- </div>   -->
    
    <!-- Menu Images -->
    
    <div class="row">
        <div class="col-sm-6 p-0 item">
            <div class="p-4 main-menu-link pizzas line height pepperoni-bg" >
                <h2 class="text-shadow">Weekly Special</h2> 
                <h2 class="text-shadow">$15.99</h2>
                <h1 class="text-shadow">16in Pepperoni</h1>
                <%- include("components/OrderButton", { cat: "Pizzas", item: "Pepperoni", size: "16in"}); %>
            </div>
        </div>
           
            
        <div class="col-sm-6 m-0 p-0 item">
            <a href="/Menu/Pizzas">
                <div class="text-shadow px-4 main-menu-link line height  pizzas greek-bg">
                    <h1>Pizzas</h1>
                </div>
            </a>
        </div>
        
    </div>
    <div class="row">
        <div class="col-sm-6 m-0 p-0 item">
            <a href="/Menu/Sides">
                <div class="px-4 main-menu-link line height sides chickenwings-bg">
                    <h1 class="text-shadow">Sides</h1>
                 </div>
            </a>
        </div>
        <div class="col-sm-6 mb-4 p-0 border-secondary">
            <a href="/menu" class="px-4 card main-menu-link m-4 h-75 text-center justify-content-center">
                View Menu
            </a>
        </div>
            
          
        <!-- </div> -->
        </div>

 
  <script src="/js/orderButton.js"></script>