<%# [Checkout Success Page] %>
<%# Crumbs %>
<%# Path %>
<%# checkedOut %>
<%# customer  %>
<%# session %>

<h3>Order Confirmed</h3>
Thank you for your order, a receipt was sent to <%- customer.email %>
<hr>

<h3>Order Details</h3>


<% checkedOut.forEach(item => { %>
  <p><%- item.count %> &times <%- item.Details.Size %> <%- item.Details.Name %> <%- item.Details.Price %></p>
<% }); %>

<hr>

<h3>Customer Details</h3>

<p><% customer.name %></p>
<p><% customer.email %></p>

<p>Paying with: Credit </p>